# PyInstaller build and dist directories
build/
dist/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
*.db

# OS specific files
.DS_Store
Thumbs.db

# Project specific
settings.json 

*.zip